bot_token: YOUR_BOT_TOKEN
# socks5: 127.0.0.1:1080
bindmax: 5
goroutine: 10
admin: "123456789"
errlimit: 5
notice: ""
cron: "1 */1 * * *"
db: sqlite
table: users
# mysql:
#  host: 127.0.0.1
#  port: 3306
#  user: root
#  password: pwd
#  database: e5subbot
sqlite:
  db: data.db
