[Unit]
Description=E5SubBot Service
After=network.target

[Service]
User=e5subbot
Group=e5subbot
WorkingDirectory=/usr/local/etc/E5SubBot
ExecStart=/usr/local/bin/E5SubBot
Restart=on-failure

[Install]

WantedBy=multi-user.target
